@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

@font-face {
	font-family: 'Gloss And Bloom';
	src: url('/font/Gloss_And_Bloom.ttf');
}

/* @import url('http://fonts.cdnfonts.com/css/century-gothic?styles=24895,24898,24896,24897'); */

html,
body {
	-webkit-tap-highlight-color: transparent;
	background: #fff;
	overscroll-behavior-y: none;
}

/* background: #6441a4; */

.shadow-top-border {
	box-shadow: 0 -5px -5px -5px #333;
}

body > .mainwrapper {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}

.bottomBarHeight {
	height: calc(100vh - 210px);
}
